*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

html, body {
  height: 100%;
}

.row#outer_row {
  height: 100%;
  width: 100%;
  margin: 0;
}
.row#outer_row .col-3 {
  height: 100%;
  padding: 0;
  background-color: #2c3e50;
  color: #f5f5f5;
}
.row#outer_row .col-3 #userInfoBlock {
  height: 120px;
}
.row#outer_row .col-3 #chatListBlock {
  height: calc( 100% - 160px );
}
.row#outer_row .col-3 #functionBlock {
  height: 40px;
}
.row#outer_row .col-9 {
  height: 100%;
  padding: 0;
}
.row#outer_row .col-9 #chatInfoBlock {
  height: 100px;
}
.row#outer_row .col-9 #chatContentBlock {
  height: calc( 100% - 140px );
}
.row#outer_row .col-9 #replyBlock {
  height: 40px;
}

#userInfoCard {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
#userInfoCard .userHeadPic, #userInfoCard .userNickName {
  display: inline-block;
  vertical-align: middle;
}
#userInfoCard .userHeadPic {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: green;
}
#userInfoCard .userNickName {
  font-size: 26px;
  padding-left: 10px;
  width: calc( 100% - 80px );
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#userInfoCard .userNickName .userEmail {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#chatList {
  padding: 0;
  overflow-y: auto;
  height: 100%;
  
}
#chatList::-webkit-scrollbar {
  width: 10px;
}
#chatList::-webkit-scrollbar-thumb {
  background-color: #1e2a36;
}
#chatList ul {
  scrollbar-color: #1e2a36 transparent; /* thumb and track color */
  scrollbar-width: thin;
}
#chatList li {
  list-style: none;
  height: 80px;
  padding-left: 10px;
  padding-top: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
}
#chatList li:hover, #chatList li.active {
  background-color: #3e5871;
}
#chatList li.newadded {
  background-color: #D66908;
  animation-name:appear;
  animation-duration:1s;
}
#chatList li.newadded:hover {
  background-color: #ff9f4a;
}
@keyframes appear{
  from{
      opacity: 0%;
  }
  to{
      opacity: 100%;
  }
}
#chatList li .chatPic, #chatList li .chatName {
  display: inline-block;
  vertical-align: middle;
}
#chatList li .chatPic {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: orange;
}
#chatList li .chatName {
  margin-left: 10px;
  font-size: 18px;
  width: calc( 90% - 70px );
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#functionBlock {
  font-size: 0;
}
#functionBlock .functBtn {
  font-size: 14px;
  width: 33%;
  display: inline-block;
  margin: 0;
  height: 100%;
  cursor: pointer;
  background-color: #32465a;
  transition-duration: 0.3s;
}
#functionBlock .functBtn:hover {
  background-color: #4d6c8b;
}
#functionBlock .functBtn div {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
#btnLogOut, #btnJoinChatRoom {
  border-left: 1px solid #2c3e50;
}

#chatInfoBlock {
  padding: 20px;
}
#chatInfoBlock .chatPic, #chatInfoBlock .chatName, #chatInfoBlock .chatId {
  display: inline-block;
  vertical-align: middle;
}
#chatInfoBlock .chatPic {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: orange;
}
#chatInfoBlock .chatName {
  margin-left: 10px;
  font-size: 20px;
  max-width: calc( 80% - 90px - 5rem );
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#chatInfoBlock .chatId {
  margin-left: 10px;
  font-size: 16px;
  width: 5em;
  white-space: nowrap;
  color: #2c3e50;
}
#chatInfoBlock #btnAddMember {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #FF4136;
  font-size: 20px;
  cursor: pointer;
}

#chatContentBlock {
  background-color: #e6eaea;
}
#chatContentBlock ul {
  padding: 0;
  overflow-y: auto;
  height: 100%;
}
#chatContentBlock ul::-webkit-scrollbar {
  width: 10px;
}
#chatContentBlock ul {
  scrollbar-color: #a1b0b0 transparent; /* thumb and track color */
  scrollbar-width: thin;
}
#chatContentBlock ul::-webkit-scrollbar-thumb {
  background-color: #a1b0b0;
}
#chatContentBlock ul li {
  display: flex;
  list-style: none;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;;
}
#chatContentBlock ul li:first-child {
  margin-top: 10px;
}
#chatContentBlock ul li .talkPic, #chatContentBlock ul li .talkMes {
  display: inline-block;
  vertical-align: top;
}
#chatContentBlock ul li .talkPic {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 5px;
  background-color: green;
}
#chatContentBlock ul li .talkMes {
  max-width: 400px;
}
#chatContentBlock ul li .talkMes .talkText {
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
}
#chatContentBlock ul li .talkMes .secretNot {
  font-size: 0.8em;
  color: gray;
}
#chatContentBlock ul li .sent .talkMes .secretNot {
  text-align: right;
}
#chatContentBlock ul li .talkMes .talkText.outdated {
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 6px #000;
  cursor: default;
  user-select: none;
  transition-duration: 0.5s;
}
#chatContentBlock ul li.sent {
  flex-direction: row-reverse;
  text-align: right;
}
#chatContentBlock ul li.sent .talkName {
  text-align: right;
}
#chatContentBlock ul li.sent .talkText {
  background-color: #2c3e50;
  color: #f5f5f5;
  text-align: left;
}

#chatContentBlock ul li.info .talkMes {
  left: 50%;
  transform: translateX(-50%);
}

#chatContentBlock ul li.info .talkMes .talkText {
  background-color: #666;
  color: white;
  font-size: 0.9em;
}

#replyBlock {
  font-size: 0px;
}
#replyBlock input {
  vertical-align: top;
  font-size: initial;
  width: calc( 100% - 60px - 40px);
  height: 100%;
  padding: 10px;
  display: inline-block;
  border: none;
}
#replyBlock input:focus {
  outline: none;
}
#replyBlock #btnSecret {
  font-size: 16px;
  color: #aaa;
  width: 40px;
  height: 100%;
  display: inline-block;
  cursor: pointer;
}
#replyBlock #btnSecret:hover, #replyBlock #btnSecret.active {
  color: #444;
}
#replyBlock #btnSend {
  font-size: 20px;
  color: #f5f5f5;
  width: 60px;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  background-color: #2c3e50;
}
#replyBlock div svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media all and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .row#outer_row .col-3 #userInfoBlock {
    height: 150px;
  }
  .row#outer_row .col-3 #chatListBlock {
    height: calc( 100% - 190px );
  }
  .row#outer_row .col-3 #userInfoCard .userHeadPic, .row#outer_row .col-3 #userInfoCard .userNickName {
    display: block;
    text-align: center;
  }
  .row#outer_row .col-3 #userInfoCard .userHeadPic {
    left: 50%;
    transform: translateX(-50%);
  }
  .row#outer_row .col-3 #userInfoCard .userNickName {
    padding: 0;
    width: initial;
    font-size: 20px;
  }
  .row#outer_row .col-3 #userInfoCard .userNickName .userEmail {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .row#outer_row .col-3 #chatListBlock #chatList li {
    height: 60px;
  }
  .row#outer_row .col-3 #chatListBlock #chatList li .chatPic {
    width: 40px;
    height: 40px;
  }
  .row#outer_row .col-3 #chatListBlock #chatList li .chatName {
    font-size: 14px;
    margin-left: 5px;
    width: calc( 90% - 40px );
  }
  .row#outer_row .col-3 #functionBlock .functBtn div {
    font-size: 18px;
  }
  .row#outer_row .col-3 #functionBlock .functBtn div span {
    display: none;
  }
  .row#outer_row .col-9 #chatContentBlock ul li .talkMes .talkText {
    max-width: 200px;
    font-size: 14px;
  }
}

@media all and (max-width: 480px) {
  .row#outer_row .col-3 #userInfoCard .userNickName {
    font-size: 18px;
  }
  #chatList li{
    text-align: center;
    padding-left: initial;
  }
  #chatList li .chatName {
    display: none;
  }
  .row#outer_row .col-3 #functionBlock .functBtn div {
    font-size: 14px;
  }
  #chatInfoBlock .chatPic {
    display: none;
  }
  #chatInfoBlock .chatName {
    max-width: calc( 95% - 30px);
  }
  #chatInfoBlock #chatId {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .row#outer_row .col-9 #chatContentBlock ul li .talkMes .talkText {
    max-width: 160px;
  }
}