*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: auto;
  background: linear-gradient(to right top, #051937 0%, #004d7a 25%, #008793 50%, #00bf72 75%, #a8eb12 100%);
  background-repeat:no-repeat;
  background-size:300% 300%;
  background-position: center center;
}

body {
  /*background: #c1bdba;*/
  background: none;
  background-repeat: no-repeat;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 500px;
  margin: 60px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  position: relative;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:first-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(-1.5em);
          transform: translateY(-1.5em);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 1.5em;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.help-block {
  margin-top: 0.5em;
  padding-left: 1em;
  height: 1em;
  font-size: 14px;
}

.with-errors {
  color: #dc3545;
}

button.disabled[type="submit"] {
  cursor: initial;
  background-color: #777;
  color: #aaa;
}

#custom-alert-signup, #custom-alert-login {
  position: relative;
  top: -1rem;
}

#btnGoogle {
  font-weight: initial;
  text-transform: initial;
  letter-spacing: initial;
  font-size: 1.5rem;
  background-color: #4285F4;
  transition: all 0.5s ease;
}

#btnGoogle:hover {
  background-color: #1769f1;
}


.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  margin: 20px 0px;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid white;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

.form::before, .form::after {
  content: '';
  z-index: -1;
  margin: -5%;
  box-shadow: inset 0 0 0 2px;
  animation: clipMe 12s linear infinite;
  color: #69ca62;
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.form::before {
  animation-delay: -6s;
}

@keyframes clipMe {
  0%, 100% {
    clip-path: polygon(0% 0%, 0% 1%, 100% 1%, 100% 0%);
  }
  25% {
    clip-path: polygon(0% 0%, 0% 100%, 1% 100%, 1% 0%);
  }
  50% {
    clip-path: polygon(0% 99%, 0% 100%, 100% 100%, 100% 99%);
  }
  75% {
    clip-path: polygon(99% 0%, 99% 100%, 100% 100%, 100% 0%);
  }
}